.transformations-container {
  flex-shrink: 0;
}

.transformations-container .tool-icon {
  margin: 0;
}

.transformations-container .tools-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 4px;
  height: 46px;

  /* Override the float:left set on tools-wrapper in layout.css; */
  float: initial;
}

.transformations-container.show-more .tools-wrapper {
  height: auto;
}

.transformations-show-more-link {
  position: absolute;
  color: #999;
  right: 10px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.2s linear;
}

.transformations-show-more-link:hover {
  color: white;
}

.show-more .transformations-show-more-link {
  color: gold;
}